/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }

/*Header and Navigation*/

header, nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    background-color: #24614f;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    border-bottom: 5px solid #DDAF94;
}

header nav a{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: center;
    margin: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*Main page content*/
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px 0 20px 0;
    color:#575757;
}

/*Picture*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

figure figcaption{
    text-align: center;
    padding: 15px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Form*/
.form {
    background-color: #e8cebf;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

form h2{
    text-align: center;
    padding: 20px 0 20px 0;
    color:#575757;
}

button{
    padding: 10px 10px 10px 10px;
    margin: 20px 0 0 0;
    background-color: #24614f;
    color: white;
    align-content: center;
}

/*Footer and copyright*/
footer {
    color: #575757;
    text-align: center;
    background-color: #e8cebf;
    padding: 20px 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}